{{> head }}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Keko</h1>
    </div>
    <div class="col-4">
        <img src="https://i.pinimg.com/originals/ff/2a/4c/ff2a4c5b083b7dbdc76defbbb28ecbbe.gif" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}